{% extends 'shared/base.html' %}
{% load static %}


{% block site_title %}
    INDEX PAGE
{% endblock %}

{##}
{#{% block site_content %}#}
{#    <h1>INDEX PAGE WITH FUNCTIONAL VIEW WORKS FINE</h1>#}
{#    {% if users_list %}#}
{#        <ul>#}
{#            {% for user in users_list %}#}
{#                <li class="highlightable">#}
{#                    {{ user.username }}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        No users#}
{#    {% endif %}#}
{#{% endblock %}#}
